h1{
	color: #77CDBD;
	text-align: center;
}

#projectkeepup{
	text-align: center;
	font-size: 40;
}

body{
}

.flex-caption {
	  width: 96%;
	  padding: 2%;
	  left: 0;
	  bottom: 0;
	  background: rgba(0,0,0,.5);
	  color: #fff;
	  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	  font-size: 14px;
	  line-height: 18px;
}

.flexslider {
    width: 75%;
    text-align: center;
    display: inline;
}

.flexslider .slides li { 
	text-align: center; 
    width: 75%;
}


.flexslider .slides img {
    width: 75%;
    /*height: 200px;*/
	display: inline;

}