html, body {
    margin: 0;
    padding: 0;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: :30;
	color: white;
}


h2{
	font-family: 'Roboto Slab', serif;
	font-size: :28;
	color: white;
}

h3{
	font-family: 'Roboto Slab', serif;
	font-size:24;
}

h4{
	/*font-family: 'Roboto Slab', serif;*/
	font-size:20;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

p{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

/* Code for the Navigation Menu in the Upper Left*/

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	color: white;
	background-color: #77CDBD;

}

#menu li.active,
#menu li.active:hover{
	color:#000;
}

#menu li a{
	text-decoration:none;
	color: #fff;
}

#menu li.active a:hover{
	text-decoration:underline;
	color: #fff;
	background-color: #77CDBD;
}

#menu li:hover{
	text-decoration:underline;
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
	background-color: #77CDBD;

}
#menu li.active a{
	color: #fff;
	text-decoration:underline;
	background-color: #77CDBD;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	height: 55px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	background-color: #77CDBD;
}

a:link {
  background-color: transparent;
  text-decoration: none;
  color: #13258B;
}
a:hover {
  color: black;
  text-decoration: none;
}

a:visited{
	color: #13258B;
}

body{
	text-align: center;
}

#namebox{
	/*background-color: #FFA6A5;*/
	padding: 25px;
	background-color: #FE5D49;
	background-color: #77CDBD;

	font-family: 'Open Sans', sans-serif;
/*	left: 0;
	right: 0;*/
	text-align: center;
	font-size: 40;
	min-height: 100vh;
/*	width: 100%;
*/}

#face{
	float: left; 
	margin: 0px 15px 15px 5px; 
	width:250px;
	height: 250px;
	border-radius: 50%;
}

#aboutme{
	padding: 25px;
	left: 0;
	right: 0;
	background-color: #FEC563;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 18;
	width: 100%;
	min-height: 100vh;
}
#aboutme p{
	padding: 30px;
	font-size: 16pt;
	/*color: #9932cc;*/
}
#projects {
	background-color: #F8A9DD;
	background-color: #FD735F;
	width: 100%;
}

#contact{
	background-color: #4286f4;
	height: 50vh;
}

.box{
	display:block;
	width: 85%;
  	min-height: 225px;
	font-family: 'Open Sans', sans-serif;
  	margin-left: auto;
  	margin-right: auto;
  	background-color:  #FFFFFF;
}

#keepup{
    border: 2px solid #27d1b7;
    padding:5px; 
}

#apis{
    border: 2px solid #FED940;
    padding:5px; 
}

#mosaic{
    border: 2px solid #641cb5;
    padding:5px; 
}

#tetris{
    border: 2px solid #FFA500 ;
    padding:5px; 
}